
<body>

    <div class="main">

        <div class="container">
            <div class="signup-content">
                <div class="signup-img">
                    <img src="assets/images/undraw_remotely_2j6y.svg" alt="">   
                </div>
                <div class="signup-form">
                    <div class="register-form" id="register-form">
                    <!-- <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()" class="register-form" id="register-form"> -->
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-input">
                                    <label for="mean">Numbers divisible by 2</label>
                                    <input type="text" readonly name="mean" id="mean" value="{{item.numbersDivBy2}}" />
                                </div>
                                <div class="form-input">
                                    <label for="last_name">Numbers divisible by 7</label>
                                    <input type="text" readonly name="mean" id="mean"  value="{{item.numbersDivBy7}}"/>
                                </div>
                                <div class="form-input">
                                    <label for="mean">Numbers divisible by 3</label>
                                    <input type="text" readonly name="mean" id="mean" value="{{item.numbersDivBy3}}" />
                                </div>
                                <div class="form-input">
                                    <label for="mean">Median</label>
                                    <input type="text" readonly name="mean" id="mean" value="{{item.median}}" />
                                </div>
                                <div class="form-input">
                                    <label for="mean">Mode</label>
                                    <input type="text" readonly name="mean" id="mean" value="{{item.mode}}" />
                                </div>
                                <div class="form-input">
                                    <!-- <label for="first_name" class="required">First name</label>
                                    <input type="text" name="first_name" id="first_name" /> -->
                                    <app-file-download></app-file-download>
                                </div>
                                <button class="reset-button" (click)="resetForm()" id="Cancel">Reset </button>
                            </div>
                            <div class="form-group">
                               
                                <div class="form-input">
                                    <label for="mean">Sum of all Odd Numbers</label>
                                    <input type="text" readonly name="mean" id="mean" #mean value="{{item.sumOfOddNumbers}}" />
                                </div>
                                <div class="form-input">
                                    <label for="mean">Sum of all Even Numbers</label>
                                    <input type="text" readonly name="last_name" id="mean" value="{{item.sumOfEvenNumbers}}"/>
                                </div>
                                <div class="form-input">
                                    <label for="mean">Sum of all Single Digits Numbers</label>
                                    <input type="text" readonly name="mean" id="mean" value="{{item.sumOfSingleNumbers}}" />
                                </div>
                                <div class="form-input">
                                    <label for="mean">Sum of all Double Digits Numbers</label>
                                    <input type="text" readonly name="company" id="mean" value="{{item.sumOfDoubleDigits}}" />
                                </div>
                                <div class="form-input">
                                    <label for="mean">Sum of Series of Number for 65</label>
                                    <input type="text" readonly name="mean" id="mean"  />
                                </div>
                                
                                <div class="form-input">
                        
                                    <app-file-upload></app-file-upload>

                                </div>
                                
                            </div>
                            
                        </div>
                        
                       
                    </div>
                </div>
            </div>
        </div>

    </div>
</body>
